<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Weather</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
        <h1>Umbrella</h1>
        <div id="wrap">
            <div id="header" class="center">
                <p class="text_center">Ä L M H U L T</p>
                <p><a href="/api/forecast?city=ljungby&country=SE">City Ljungby</a></p>
                <p><a href="/api/forecast?city=älmhult&country=SE">City Älmhult</a></p>
            </div>
            <div id="main" class="text_center">
                <p>10 degrees</p>
            </div>
        </div>
    </body>
</html>